@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply text-slate-50
    }
}
@layer components{
    .Movel{
        height: calc(100vh - 48px);
    }
    .Desktop{
        height: calc(100vh - 112px);
    }
    .mover{
        animation: linear 2s infinite ;
    }
}